<div class="row m-2">
  {{#each courses}}
    <div class="col-sm-6 col-lg-4 mt-2">
      <div class="card">
        <a href="/courses/{{this.slug}}">
          <img src="{{this.image}}" alt="{{this.title}}" class="card-img-top" />
        </a>
        <div class="card-body">
          <a href="/courses/{{this.slug}}">
            <h5 class="card-title">
              {{this.title}}
            </h5>
          </a>
          <p class="card-text">
            {{this.description}}
          </p>
          <p class="card-text">
            Giảng Viên: {{this.teacher}}
          </p>
          <p class="card-text text-danger">
            {{{convertNumberToMoney this.price}}}đ
          </p>
          <p class="card-text">
            Rating: {{{renderStars this.rating}}}
            ({{this.rating}})
          </p>
          <a href="#" class="btn btn-primary">
            Buy
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>